In [1]:
import sys
sys.path.append("../src")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import util as utils

from imblearn.under_sampling import RandomUnderSampler

pd.set_option("display.max_columns", None)
sns.set_style("whitegrid")

In [2]:
config = utils.load_config()

In [3]:
X_train = utils.pickle_load(config["train_path"][0])
y_train = utils.pickle_load(config["train_path"][1])

train = pd.concat([X_train, y_train], axis=1)

In [52]:
X_rus, y_rus = RandomUnderSampler(random_state=42).fit_resample(
    train.drop(columns=config["label"]),
    train[config["label"]]
)

train_rus = pd.concat([X_rus, y_rus], axis=1)
train_rus["y"] = train_rus["y"].apply(lambda x: 0 if x == "no" else 1)

In [53]:
train_rus.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
31641,41,blue-collar,married,secondary,no,790,yes,no,cellular,6,apr,173,1,-1,0,unknown,0
19856,44,management,single,tertiary,no,1424,yes,no,cellular,8,aug,201,2,-1,0,unknown,0